*.aux
*.bbl
*.blg
*.dvi
*.idx
*.ilg
*.ind
*.log
*.nav
*.out
*.ps
*.snm
*.toc
*.tpbuild
*~

/auto/
/.auctex/
/.texpadtmp/
*.synctex.gz

*.asv

*.avi
*.mp3
*.mp4
*.mpeg

#*.pdf
#*.eps
#*.jpg
#*.jpeg
#*.png

*.zip



